# Database Configuration
MONGODB_URI=mongodb://localhost:27017/dsquarevents

# JWT Configuration
JWT_SECRET=your-super-secret-jwt-key-here
ADMIN_JWT_SECRET=your-admin-jwt-secret-key-here

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=dycvh4ct7
CLOUDINARY_API_KEY=441425623237693
CLOUDINARY_API_SECRET=AxFQS4qQlzNrOLrGjZlijIvsQDw
# Server Configuration
NODE_ENV=development
PORT=5000
